# create LAST_FM_API_KEY and LAST_FM_API_SECRET -> https://www.last.fm/api/account/create
LAST_FM_API_KEY=your_last_fm_API_KEY
LAST_FM_API_SECRET=your_last_fm_API_SECRET
LAST_FM_USERNAME=your_last_fm_username
DISCORD_BOT_TOKEN=your_discord_bot_token
DISCORD_SERVER_ID=your_discord_server_id
DISCORD_USER_ID=your_discord_user_id
