$main-bg: black;
$secondary-bg: hsl(0, 0%, 8%);
$tetriary-bg: hsl(0, 0%, 12%);
$text-color: white;
$text-color-secondary: #ccc;
$accent-color: rgb(99, 102, 241);
$accent-color-secondary: rgb(99, 102, 241, 0.5);
