$main-bg: black;
$secondary-bg: hsl(0, 0%, 8%);
$tetriary-bg: hsl(0, 0%, 12%);
$quaternary-bg: hsl(0, 0%, 16%);
$text-color: white;
$text-color-secondary: #ccc;
$text-color-tertiary: #999;
$accent-color: rgb(99, 102, 241);
$accent-color-secondary: rgb(99, 102, 241, 0.5);
$accent-green: hsl(135, 84%, 67%);
$accent-red: hsl(0, 84%, 67%);
$accent-yellow: hsl(60, 84%, 67%);
