body {
    padding: 0;
    margin: 0;
    background-color: $main-bg;
    color: $text-color;
}

* {
    box-sizing: border-box;
    transition: background-color 0.2s, color 0.2s, opacity 0.2s;
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
    touch-action: manipulation;
}
.slide-bottom-enter-active,
.slide-bottom-leave-active {
    transition: all 0.3s ease;
}
.slide-bottom-enter,
.slide-bottom-leave-to {
    opacity: 0;
    transform: translateY(20px);
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: $secondary-bg;
    border-radius: 10px;
    padding: 10px;
}
::-webkit-scrollbar-thumb {
    background: $quaternary-bg;
    border-radius: 10px;
}
